{{#if isShow}}
  <div class="ember-cli-spinner" style={{bgColorStyle}}>
    <div class="spinner">
      <div class="{{className}} {{color}}" style={{sizeStyle}}>
        {{#each counters as |counter|}}
          <div class="{{className}}{{counter}} sk-child {{color}}"></div>
        {{/each}}
      </div>
      <h4 class="load-text">{{yield}}</h4>
    </div>
  </div>
{{/if}}
